.header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    padding: 0px 50px;
    margin-top: 30px;
}
.header-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.header-left h1{
    font-size: 45px;
    font-size: bold;
    
}
.bike-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}